<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!--    bean 标签，意味着控制反转-->
    <bean id="userService" class="com.kk.ioc.impl.UserServiceImpl">
        <!--        property 标签，将类里的属性也同样注入到容器中，即依赖注入-->
        <property name="name" value="2020"/>
    </bean>

<!--    Bean 实例化1: 无参构造器-->
    <bean id="bean1" class="com.kk.ioc.bean.Bean1"/>
<!--    Bean 实例化2：静态工厂来实例-->
    <bean id="bean2" class="com.kk.ioc.factory.Bean2Factory" factory-method="createBean2"/>
<!--    Bean 实例化3： 实例工厂类来实例，先注册工厂-->
    <bean id="bean3Factory" class="com.kk.ioc.factory.Bean3Factory"/>

    <bean id="bean3" factory-bean="bean3Factory" factory-method="createBean3"/>


</beans>